body {
    margin: 0;
    background-color: lightblue;
    
}

#start-btn {
    background-color: blueviolet;
    position: absolute;
    color: white;
    padding: 15px 50px 15px 50px;
    margin-top: 40px;
    border-radius: 10px;
    top: 270px;
}

#pause-stance {
    color: white;
    font-size: 32px;
    position: absolute;
    font-style: oblique;
    display: none;
}

#game-over-btn {
    background-color: blueviolet;
    color: white;
    position: absolute;
    padding: 15px 50px 15px 50px;
    margin-top: 40px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.box {

    
    background-position: center;
    background-color: black;
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    user-select: none;
}

#game-box {
    background-image: url(./extra/images/background-starfield.png);
    background-repeat: repeat-x;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-name: backgroundloop;
    display: block;

}

@keyframes backgroundloop {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -800px 0;
    }
}

#splash-box {
    background-size: cover;
    background-image: url(./extra/images/splash-bg-img.png);
}

#game-over-box {
    background-size: cover;
    background-image: url(./extra/images/game-over-bg-img.png);
}

#game-screen, #game-over-screen {
    display: none;
}