body {
    margin: 0;
    background-color: lightblue;
    
}

#start-btn {
    background-color: blueviolet;
    position: absolute;
    color: white;
    padding: 20px 40px 20px 40px;
    margin-top: 40px;
    border-radius: 10px;
}

#pause-stance {
    color: white;
    font-size: 32px;
    position: absolute;
    font-style: oblique;
    display: none;
}

#game-over-btn {
    background-color: blueviolet;
    color: white;
    position: absolute;
    padding: 20px 40px 20px 40px;
    margin-top: 40px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.box {

    background-size: cover;
    background-position: center;
    background-color: gray;
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    user-select: none;
}

#game-box {

    background-image: url(./extra/images/background-starfield.png);
}

#game-screen, #game-over-screen {
    display: none;
}